html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
background-color: rgb(20, 20, 20);
}
img {
  display: block;
  margin: 0 auto;
  height: 340px;
  width: auto;
  }
h1 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
}
/*#subtitle {
  color: rgb(0, 0, 0);
  font-size: 32px;
  text-align: left;
}*/

p {
  font-size: 24px;
  color: rgb(48, 48, 48);
  margin-top: 10px;
  margin-bottom: 20px;
}
#legende {
  font-size: 22px;
  color: rgb(48, 48, 48);
  margin-top: 10px;
  margin-bottom: 0;
}
h2 {
  color: rgb(0, 0, 0);
  font-size: 34px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: auto 1fr;
grid-column-gap: 1px;
grid-row-gap: 1px;
height: 100vh;
background-color: rgb(0, 0, 0);
height: 100vh;
}
/*.div1texte {
margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 0;
 } */
.div1 { 
  grid-area: 2 / 2 / 3 / 6; 
  background-color: rgb(255, 255, 255);
  text-align: left;
  min-height: 350px;
  padding-left: 10%;
  overflow: auto;
  padding-right: 10%;
  padding-bottom: 20px;
  gap: 20px;
  }
.div1.expand-full {
  grid-area: 2 / 1 / 3 / 6;
}
  .div2 { 
  grid-area: 2 / 1 / 3 / 2; 
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding-left: 30px;
  }
.div3 { 
  grid-area: 1 / 1 / 2 / 6; 
  background-color: rgb(255, 255, 255);
  display: block;
  position: relative;

 
}
#bttnmenu {
  background-color: transparent;
  border-color: transparent;
  font-size:50px ;
  color: rgb(0, 0, 0);
  padding: 0px 2px;
  text-align: center;
  cursor: pointer;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
  #bttnmenu:active{
  border-style: outset;
  color: rgb(142, 142, 142);
}
.slide-left {
  animation : slide-left 0s ease-in-out forwards;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500px);
  }
}
.slide-right {
  animation : slide-right 0s ease-in-out forwards;
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0px);
  }
}
figure {
  float: right;
  margin: 20px 10px 10px 10px;
  border: 1px solid #848484;
  padding: 10px;
  }
hr {
  margin-right: 350px;
  overflow: auto;
}
ul {
  font-size: 24px;
  color: rgb(48, 48, 48);
  margin-top: 10px;
  margin-bottom: 20px;
}
ol {
  font-size: 24px;
  color: rgb(48, 48, 48);
  margin-top: 10px;
  margin-bottom: 20px;
  }





